[submodule "showcase/clockwork-oracle"]
	path = showcase/clockwork-oracle
	url = https://kriana@github.com/jtq/clockworacle
[submodule "showcase/legacies"]
	path = showcase/legacies
	url = https://kriana@github.com/baXiaDev/XD-Sunless-Sea-Legacies-Mod.git
[submodule "showcase/london-warehouse"]
	path = showcase/london-warehouse
	url = https://kriana@github.com/CodeAndLoathing/ssmod-londonwarehouse.git
